pydantic==1.10.14

langchain==0.1.20
langchain-core==0.1.52
langchain-google-genai==0.3.2
langchain-community
langchain-text-splitters

pandas
streamlit
faiss-cpu
numpy
pymupdf
sentence-transformers
google-generativeai
python-dotenv
altair==4.2.2
rich
